<body>
    <div class="head">
    <h1>About Us</h1>
</div>

<section>
    <div class="combi">
    <div class="para-left">
    <h2>Welcome to Our Hotel</h2>
    <p>
        At Blue Paradise, we believe in creating unforgettable experiences for our guests. 
        Nestled in the heart of Paradise Island, our hotel is more than just a place to stay 
        – it's a destination where luxury meets comfort, and hospitality knows no bounds.
    </p>
    </div>
    <div class="image-right">
        <img src="assets/HotelImages/Image 2.jpg" alt="Blue Paradise">
    </div>
    </div>


    <div class="combi">
        <div class="image-left">
            <img src="assets/HotelImages/Image 5.jpg" alt="Blue Paradise">
        </div>
        <div class="para-right">
    <h2>Our Story</h2>
    <p>
        Established in 2023, Blue Paradise has been a beacon of hospitality, providing a warm 
        and welcoming haven for travelers from around the world. Our journey began with a vision to 
        redefine luxury accommodation, blending modern sophistication with a touch of local charm.
    </p>
    </div>
    </div>


    <div class="combi">
        <div class="para-left">
    <h2>Mission and Values</h2>
    <p>
        Driven by a commitment to excellence, our mission is to exceed your expectations and make 
        your stay truly memorable. We are guided by values of integrity, respect, and a passion for 
        delivering exceptional service to every guest, every time.
    </p>
    </div>
    <div class="image-right">
        <img src="assets/HotelImages/Image 6.jpg" alt="Blue Paradise">
    </div>
    </div>

    <div class="combi">
        <div class="image-left">
            <img src="assets/HotelImages/Image 7.jpg" alt="Blue Paradise">
        </div>
        <div class="para-right">
    <h2>A Distinctive Setting</h2>
    <p>
        Where turquoise waters meet pristine white sands. Nestled amid 
        lush tropical foliage, our boutique hotel offers a distinctive blend of luxury and tranquility. 
        Enjoy private beach access, indulge in oceanfront dining, and relish the breathtaking views from 
        your secluded oasis. Unwind in our overwater bungalows or explore the island's adventures, creating 
        cherished memories in this exclusive haven. Welcome to a uniquely captivating experience at Blue Paradise.
    </p>
    </div>
    </div>


    <div class="combi">
        <div class="para-left">
    <h2>Accommodations and Amenities</h2>
    <p>
        Indulge in luxury with our thoughtfully designed rooms/suites accommodations, each offering 
        unique features. From breathtaking ocean views to plush bedding, every detail is crafted to enhance 
        your comfort. Our facilities, e.g., spa, fitness center, pool, etc. are designed to cater to your every need.
    </p>
    </div>
    <div class="image-right">
        <img src="assets/HotelImages/Image 8.jpg" alt="Blue Paradise">
    </div>
    </div>

    <div class="combi">
        <div class="image-left">
            <img src="assets/HotelImages/Image 10.jpg" alt="Blue Paradise">
        </div>
        <div class="para-right">
    <h2>Sustainability at Our Core</h2>
    <p>
        At Hotel Paradise we are committed to sustainability. From eco-friendly practices to community engagement, 
        we strive to minimize our environmental impact and contribute positively to the local community.
    </p>
    </div>
    </div>


    <div class="combi">
        <div class="para-left">
    <h2>What Our Guests Say</h2>
    <p>
        But don't just take our word for it. Read what our guests have to say about their experiences at Hotel Paradise. 
        Their stories are a testament to the genuine hospitality and personalized service that define our hotel.
    </p>
    </div>
    <div class="image-right">
        <img src="assets/HotelImages/Image 12.jpg" alt="Blue Paradise">
    </div>
    </div>
</section>


</body>