$deepOceanBlue: #114e60;
$darkTeal: #11545D;
$midnightBlue: #1A4876;
$deepSeaBlue: #0E3A52;
$oceanicBlue: #15687F;
$sandyBeige: #d2b48c;
$pearlWhite: #f7f7f7;
$mintGreen: #9fd8cb;
$goldenSunset: #ffb347;
$success : #4CAF50;
$warning : #FFC107;
$danger: #FF5722;
$primary_button: #2196F3;
$secondary_button : #9E9E9E;