
.hotel-policy-container{
    max-height: 500px; /* Set the maximum height to make the content scrollable */
  overflow-y: auto;
  padding: 20px;
}

.cbutton{
    justify-content: right;
}
h1 {
    text-align: center;
  }