<div class="cancellation-policy-container">
    <h1>Cancellation Policy</h1>
  
    <section>
      <h3>1. Free Cancellation Period:</h3>
      <ul><li>
      <p>Guests can cancel their reservation free of charge up to 12 hours before the scheduled check-in date.</p>
        </li></ul>
    </section>
  
    <section>
      <h3>2. Cancellation Charges:</h3>
      <ul><li>
      <p>Cancellations made within 12 hours of the check-in date will incur a cancellation fee of 40% of the total reservation amount.</p>
        </li></ul>
    </section>

    <section>
        <h3>3. No-Show Policy:</h3>
        <ul><li>
        <p>If a guest fails to arrive without prior notice, the hotel reserves the right to charge the full reservation amount.</p>
        </li></ul>
    </section>

    <section>
        <h3>4. Early Departure:</h3>
        <ul><li>
        <p>Guests departing before the scheduled check-out date may be subject to an early departure fee.</p>
        </li></ul>
    </section>

    <section>
        <h3>5. Special Promotions or Non-Refundable Rates:</h3>
        <ul><li>
        <p>Some reservations may be non-refundable or have specific cancellation policies as part of special promotions or discounted rates. Please check the terms during booking.</p>
        </li></ul>
    </section>

    <section>
        <h3>6. Group Reservations:</h3>
        <ul><li>
        <p>Different cancellation policies may apply to group reservations. Please check with the hotel for details when booking multiple rooms.</p>
        </li></ul>
    </section>

    <section>
        <h3>7. Modification Requests:</h3>
        <ul><li>
        <p>Changes to reservations, including modifications to the check-in/out dates, are subject to availability and may result in additional charges.</p>
        </li></ul>
    </section>

    <section>
        <h3>8. Refunds:</h3>
        <ul><li>
        <p>Refunds for cancellations will be processed based on the hotel's policy and may take 7 business days to reflect.</p>
        </li></ul> 
    </section>

    <section>
        <h3>9. Force Majeure:</h3>
        <ul><li>
        <p>The hotel may waive cancellation fees in case of unforeseen circumstances, such as natural disasters or other force majeure events.</p>
        </li></ul>
    </section>
  
    <section>
      <h3>10. Contact Information:</h3>
      <ul><li>
      <p>For any cancellation or modification requests, please contact our reservations team at below provided details.</p>
        </li></ul>
    </section>

    <section>
        <p>
            **This policy is subject to change, and guests are encouraged to review the cancellation terms during the booking process. Specific details may vary based on the hotel's location, size, and brand standards. Ensure that the policy complies with local laws and regulations.**
        </p>
    </section>
  </div>
<div mat-dialog-actions class="cbutton">
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>