<!--Footer content -->

<div class="container">

    <div class="column">
        <div class="header">
            <img src="../../../assets/HotelImages/logo1.png" alt="Blue Paradise Logo">
            <h1 class="MainHead">BlueParadise</h1>
        </div>
            <p class="notes">Welcome to Blue Paradise, where luxury meets tranquility.
              Immerse yourself in the epitome of comfort and sophistication,
              our staff ensures seamless experiences during
              your stay. Discover a haven of elegance and personalized service,
              making every moment at Blue Paradise a memorable escape.
            </p>
          <!-- Social Media Icons -->
        <div class="social-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
         </div>
    </div>
    
    <div class="column links">
        <h2>Useful Links</h2>
        <ul>
            <li><a (click)="openPopuphotel()">Privacy Policy</a></li>
            <li><a (click)="openPopuphotel()">Terms of Service</a></li>
            <li><a (click)="openPopupcancel()">Refund and Cancellation Policy</a></li>
        </ul>
    </div>

    <div class="column contact">
        <h2>Contact Us</h2>
        <div class="contact-container">
            <div class="contact-info">
                <span class="material-symbols-outlined">location_on</span>
                <p class="notes">Heidelberg</p>
            </div>
            <div class="contact-info">
                <span class="material-symbols-outlined">mail</span>
                <p class="notes">BlueParadise@gmail.com</p>
            </div>
            <div class="contact-info">
                <span class="material-symbols-outlined">call</span>
                <p class="notes">+491371234565</p>
            </div>
        </div>
        
    </div>
</div>

<div id="footer">
    <p>Copyright © 2023. All rights reserved.</p>
</div>
